/* Resetando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;  
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilo para o carrossel */
.carrossel-interno-login {
    position: relative;
    max-width: 100%; /* Ocupa toda a largura da tela */
    height: 60vh; /* Define a altura como 60% da altura da tela */
    margin-top: 20px;
    overflow: hidden; /* Garante que as imagens não ultrapassem os limites */
}

.item-carrossel-login {
    display: none; /* Inicialmente, escondemos todos os itens */
    width: 100%;
    height: 100%;
    text-align: center;
}

.item-carrossel-login img {
    width: 100%;
    height: 100%; /* A imagem ocupa 100% da altura do carrossel */
    object-fit: cover; /* A imagem vai cobrir a área sem distorcer */
    border-radius: 4px;
}

.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
}

/* Botões de navegação do carrossel */
.carrossel-login-anterior {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(236, 40, 40, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 2; 
}

.carrossel-login-anterior:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carrossel-login-anterior {
    left: 10px;
}

.carrossel-login-proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(236, 40, 40, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 2; 
}

.carrossel-login-proximo:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



.carrossel-login-proximo {
    right: 10px;
}

/* Estilo para o formulário de previsão de acidente */
.prediction-form {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 30px auto;
    position: relative; 
    z-index: 1; 
}

.prediction-form h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.prediction-form p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#prever[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

#prever[type="submit"]:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
    display: none;
}

#predictionResult {
    display: block;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    font-size: 14px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
}
